<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Attendance</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.11/css/mdb.min.css" rel="stylesheet">

    <style>
        body {
            background-color: #d7e6ff;
        }
    </style>

</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-md navbar-dark primary-color position-fixed w-100" style="z-index: 999">

        <!-- Navbar brand -->
        <a class="navbar-brand" href="/addStudent">Student System</a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="showStudent">Show Students
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addStudent">Add Student</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/editStudent">Edit Student</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/deleteStudent">Delete Student</a>
                </li>

                <!-- Dropdown -->
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Action</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/showAttendance">Attendance Info</a>
                        <a class="dropdown-item" href="/showMark">Marks Info</a>
                        <a class="dropdown-item" href="/showPayment">Payment Info</a>
                    </div>
                </li>

            </ul>
            <!-- Links -->


        </div>
        <!-- Collapsible content -->

    </nav>
    <!--/.Navbar-->

    <div class="container-fluid" style="position: relative; top: 56px">
        <div class="container py-5">
            <div class="row">
                <div class="col-12">
                    <div class="f-content">
                        <h3>All students from Database</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae cum architecto quidem
                            doloribus deleniti quisquam, praesentium similique voluptatem vitae! Molestias ex ducimus
                            excepturi tempore atque eaque neque aperiam. Similique, esse?</p>
                        <% if(studentDocs.length === 0) { %>
                        <div class="alert alert-danger">There are not Students in Database</div>
                        <% } else { %>
                        <div class="table-responsive bg bg-white shadow p-3 rounded">
                            <%- include('./partials/flashMessages') -%>
                            <h3>Database has shown now</h3>
                            <p>You can search by writing Student Code</p>
                            <form class="form-inline md-form mr-auto mb-4 w-100">
                                <input id="inputStudentCode" class="form-control mr-sm-2" style="width: 50%" type="text"
                                    placeholder="Write Student Code to get its row" aria-label="Search">
                                <a id="getItsRow" class="btn btn-primary btn-rounded btn-sm my-0" type="submit">Get its
                                    row</a>
                            </form>



                            <table id="dtBasicExample"
                                class="table table-striped table-bordered table-sm rounded text-center" cellspacing="0"
                                width="100%">
                                <thead>
                                    <tr>
                                        <th class="th-sm">Student ID

                                        </th>
                                        <th class="th-sm">Student Code

                                        </th>
                                        <th class="th-sm">Fullname

                                        </th>
                                        <th class="th-sm">Student Phone

                                        </th>
                                        <th class="th-sm">Father Phone

                                        </th>
                                        <th class="th-sm">Mother Phone

                                        </th>
                                        <th class="th-sm">Group

                                        </th>
                                        <th class="th-sm">Time

                                        </th>
                                        <th class="th-sm">Attendance

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% studentDocs.forEach((studentDoc, index) => { %>
                                    <tr id="row<%= studentDoc.studentCode %>">

                                        <td><%= index + 1 %></td>
                                        <td><%= studentDoc.studentCode %></td>
                                        <td><%= studentDoc.fullname %></td>
                                        <td><%= studentDoc.studentPhone %></td>
                                        <td><%= studentDoc.fatherPhone %></td>
                                        <td><%= studentDoc.motherPhone %></td>
                                        <td><%= studentDoc.group %></td>
                                        <td><%= studentDoc.time %></td>
                                        <td>

                                            <a type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                                data-target="#myModal<%= index + 1 %>">
                                                Show Details
                                            </a>
                                            <!-- The Modal -->
                                            <div class="modal fade" id="myModal<%= index + 1 %>">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">

                                                        <!-- Modal Header -->
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Attendance Info for
                                                                <%= studentDoc.fullname %></h4>
                                                            <button type="button" class="close"
                                                                data-dismiss="modal">&times;</button>
                                                        </div>

                                                        <!-- Modal body -->
                                                        <div class="modal-body">

                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <p>Hover on the month to show details</p>
                                                                </div>
                                                            </div>
                                                            <% studentDoc.months.forEach((monthArr) => { %>
                                                            <div class="row">
                                                                <% monthArr.forEach((month) => { %>
                                                                <div class="col-3">
                                                                    <a href="#" title="<%= month %> Month"
                                                                        data-toggle="popover" data-placement="left"
                                                                        data-trigger="hover" data-content="
                                                                                <% studentDoc.attendance.forEach((Obj) => { %>
                                                                                    <% if(Obj.month === `${month}`) { %>
                                                                                        <p>MYD: <%= Obj.MYD %> - Attendance: <%= Obj.forAttendance %></p>
                                                                                    <% } %>
                                                                                <% }); %>
                                                                                ">
                                                                        <h5 class="bg bg-light p-3 border shadow-sm"
                                                                            style="position: relative;">
                                                                            <span><%= month %></span>
                                                                        </h5>
                                                                    </a>
                                                                </div>
                                                                <% }) %>
                                                            </div>
                                                            <% }) %>

                                                        </div>

                                                        <!-- Modal footer -->
                                                        <div class="modal-footer justify-content-start">
                                                            <button type="button" class="btn btn-danger btn-sm"
                                                                data-dismiss="modal">Close</button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                        <%  } %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="loading" class="bgContainer" style="position: fixed; top: 0; left: 0; bottom: 0; right: 0; z-index: 5555; background-color: #FFF; display: flex; justify-content: center; align-items: center;">
        <div class="imageNow_for_Gif text-center">
            <h4>Be quite Mr/Eslam, Please</h4>
            <img src="/assets/Images/Preloader_3.gif"/>
            <h5>Loading...</h5>
        </div>
    </div>


    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.11/js/mdb.min.js"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip()
            $('[data-toggle="popover"]').popover({ html: true });
            $("#getItsRow").on("click", function () {
                let basic = "#row" + $("#inputStudentCode").val();
                $('html, body').animate({
                    scrollTop: $(basic).offset().top
                }, 3000);
                $(basic).css({
                    backgroundColor: "#c0ffc1",
                }).siblings().css({
                    backgroundColor: 'transparent'
                })
            });
        })
    </script>

    <script>
        window.onload = function() {
            $("#loading").css("display", "none");
        }
    </script>

</body>

</html>